* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

#editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

canvas {
  max-width: 100%;
  height: auto;
}

#gui-container {
  padding: 1rem;
}

#preview-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background: rgba(0, 0, 0, 0.9);
}

#preview {
  display: block;
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 10px 10px rgba(127, 127, 127, 0.9);
}
